.button-question{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;

  width: 48%;
  height: 30%;
  cursor: pointer;

  border: 0px;
  border-radius: 10px;
  background: var(--Naranja, #F26A2F );

  color: var(--Blanco, #FFF);
  text-align: center;

  /* Etiquetas */
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 800;
  line-height: 24px; /* 120% */
}

.button-question:hover{
  background: var(--Azul-Principal, #3CEBFF);
  color: var(--Azul---Gris, #25293D);
  transition: all 0.3s;
}

.create-hover{
  display: none;
}

.button-question:hover > img{
  width: 20px;
  height: 20px;
}

.button-question:hover > img{
  display: none;
}

.button-question:hover .create-hover{
  display: block;
}

.button-match{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;

  width: 50%;
  height: 30%;
  cursor: pointer;

  border: 0px;
  border-radius: 10px;
  background: var(--Naranja, #3CEBFF);

  color: var(--Azul---Gris, #25293D);
  text-align: center;
  /* Etiquetas */
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 800;
  line-height: 24px; /* 120% */
}

.button-match:hover{
  background: var(--Azul-Principal, #F26A2F );
  color: var(--Blanco, #FFF);
  transition: all 0.3s;
}

.create-hover{
  display: none;
}

.button-match > img {
  width: 20px;
  height: 20px;
}

.button-match:hover > img{
  display: none;
}

.button-match:hover .create-hover{
  display: block;
}

.div-accesos-rapidos{
  display: flex;
  justify-content: end;
  width: 100%;
  gap: 25%;
}

.div-accesos-rapidos > button {
  border: 0px solid;
  background-color: transparent;
  cursor: pointer;
}

.div-accesos-rapidos > button:hover > img {
  display: none;
}

.svg-accesos-rapidos{
  display: none;
}

.div-accesos-rapidos > button:hover > .svg-accesos-rapidos {
  display: block;
}

.modal-dialog{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0% !important;
  height: 100%;
  width: 100%;
}

.modal-content {
  width: 100%;
  height: 80% !important;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
}

.modal-body{
  height: 80%;
  overflow-y: hidden;
}

.modal-title {
  color: #000;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.button-close-modal {
  padding: 1%;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 50%;
  color: var(--Gris-4, #A09F9F);
  font-family: Montserrat;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 80%;
  border-radius: 5px;
  border: 1px solid var(--Gris-4, #A09F9F);
}

.radio-button__label {
  display: inline-block;
  padding-left: 30px;
  position: relative;
  font-family: Montserrat;
  font-size: 15px;
  color: #f2f2f2;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.div-inputs-form {
  width: 48%;
  display: flex;
  align-items: center;
  padding-bottom: 1%;
  margin-bottom: 1%;
  border-bottom: 1px solid #222;
}

.inputs-form-crear-usuario {
  outline: none;
  border: 0px;
  width: 94%;
  padding-left: 1%;
  color: var(--Negro, #000);
  font-weight: 400;
}

.inputs-form-crear-usuario::placeholder {
  outline: none;
  border: 0px;
  width: 75%;
  color: var(--Negro, #000);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}

.button-send-modal {
  padding: 1%;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 50%;
  color: #fff;
  font-family: Montserrat;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 80%;
  border-radius: 5px;
  background: var(--Naranja, #F26A2F );
}

.titulos-azules {
  display: flex;
  align-items: center;
  margin: 0%;
  color: var(--Azul-Principal, #3CEBFF);

  /* H4 Bold */
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 24px; /* 100% */
}

.inputs-categorias {
  align-items: center;
  width: 100%;
  height: 15%;
  padding-left: 1%;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid var(--Gris-4, #A09F9F);
  color: #fff;
}

.inputs-categorias > p{  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.inputs-categorias:focus{
  border: 0px;
  outline: none;
  border: 1px solid var(--Gris-4, #A09F9F);
}

.inputs-categorias > img{
  width: 3%;
}

.inputs-categorias > p {
  width: 90%;
}
/*End::Modales*/