/* ESTILOS ESPECÃFICOS PARA BANNER */
.div-banner-puntajes{
  width: 90%;
  height: 80%;
  margin-top: 4%;
  display: flex;
  flex-direction: column;
  gap: 3%;
}

.div-banner{
  width: 65%;
  height: 100%;
  border-radius: 25px;
  background: var(--Azul---Gris, #25293D);

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4%;
}

.parrafos-div{
  width: 100%;
  padding-left: 2%;
  display: flex;
  flex-direction: column;
}

.parrafos-div > h2 {
    color: var(--Naranja, #F26A2F);
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 40px;
}

.parrafos-div > p{
  margin: 0%;
  color: var(--Color-textos, #F9F9F9);
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 193.75% */
}

.imagen-banner-div {
  display: none;
}

.imagen-banner-div > img{
  width: 100%;
}
.div-puntajes{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 4%;
}

.header-puntajes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30%;
  width: 96%;
  padding-inline: 1%;
}

.header-puntajes > p {
  margin: 0%;
  color: var(--Color-textos, #F9F9F9);
  /* Etiquetas */
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 24px; /* 120% */
}

.header-puntajes > a {
  text-decoration: none;

  color: var(--Negro, #000);
  text-align: center;
  /* Texto Bold */
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 20px; /* 125% */

  border-radius: 5px;
  background: var(--Naranja, #F26A2F );  

  padding: 2%;

  cursor: pointer;
}

.header-puntajes > a:hover {
    background: var(--Naranja, #3CEBFF);
    transition: all 0.5s;
}

.div-ranking {
    width: 96%;
    height: 85%;
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.div-user-ranking {
    width: 100%;
    height: 33%;
    border-radius: 15px;
    background: var(--Azul---Gris, #25293D);
    display: flex;
    justify-content: space-between;
}

.user-ranking {
    display: flex;
    align-items: center;
    gap: 4%;
    width: 50%;
    padding-left: 5%;
}

.user-ranking > img {
  border: 1px solid #fff;
  border-radius: 50px;
  width: 35px;
  height: 35px;
  object-fit: cover;
  object-position: center;
}

.user-ranking > p {
  margin: 0%;
  color: var(--Color-textos, #F9F9F9);
  /* Texto */
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
}


.div-puntos {
    height: 100%;
    width: 50%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6%;
}

.p-puntos {
    margin: 0%;
    color: var(--Naranja, #F26A2F);
    text-align: right;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
}

.p-preguntas-correctas {
    margin: 0%;
    text-align: right;
    color: var(--Color-textos, #F9F9F9);
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

