.input{
  border-radius: 10px;
  border: 1px solid var(--Gris-3, #686868);
  width: 100%;
  height: 12%; 
  outline: none;
  color: var(--Gris-3, #686868);
  /* Texto */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  padding-left: 10px;
  margin-bottom: 10px;
}

.div-input{
  border-radius: 10px;
  border: 1px solid var(--Gris-3, #686868);
  width: 100%;
  height: 12%;
  padding-left: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.div-input-send{
  border-radius: 10px;
  border: 1px solid var(--Gris-3, #686868);
  width: 98%;
  height: 20%;
  padding-left: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.input2{
  border-radius: 10px;
  border: 0px solid var(--Gris-3, #686868);
  width: 90%; 
  height: 80%;
  outline: none;
  color: var(--Gris-3, #686868);
  /* Texto */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
