.button-ingresar{
  border-radius: 10px;
  outline: none;
  border: 0px;
  background: var(--Azul-Secundario, #134E9D);
  color: var(--Blanco, #FFF);
  text-align: center;
  /* Texto */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
  width: 100%;
  height: 10%;
  cursor: pointer;
}

.button-ingresar:hover{
  background: var(--Naranja, #F26A2F );
}