
  /*HEADER*/
  .header{
    height: 5%;
    display: flex;
    justify-content: start;
    width: 100%;
    gap: 2%;
  }

  .div-input-search-header{
    width: 35%;
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 1px solid var(--Color-textos, #F9F9F9);
    gap: 2%;
    padding-left: 1%;
  }

  .input-search-header{
    width: 85%;
    background-color: transparent;
    outline: none;
    border: 0px;
    color: #FFF;

      /* Texto */
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px; /* 125% */
  }

  .input-search-header::placeholder{
    color: var(--Color-textos, #F9F9F9);
    /* Texto */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
  }

  .button-question{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;

    width: 25%;
    cursor: pointer;

    border: 0px;
    border-radius: 10px;
    background: var(--Naranja, #F26A2F );

    color: var(--Blanco, #FFF);
    text-align: center;

    /* Etiquetas */
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: 24px; /* 120% */
  }

  .button-question:hover{
    background: var(--Azul-Principal, #3CEBFF);
    color: var(--Azul---Gris, #25293D);
    transition: all 0.3s;
  }

  .create-hover{
    display: none;
  }

  .button-question:hover > img{
    width: 20px;
    height: 20px;
  }

  .button-question:hover > img{
    display: none;
  }

  .button-question:hover .create-hover{
    display: block;
  }

  .button-match{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;

    width: 25%;
    cursor: pointer;

    border: 0px;
    border-radius: 10px;
    background: var(--Naranja, #3CEBFF);

    color: var(--Azul---Gris, #25293D);
    text-align: center;
    /* Etiquetas */
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: 24px; /* 120% */
  }

  .button-match:hover{
    background: var(--Azul-Principal, #F26A2F );
    color: var(--Blanco, #FFF);
    transition: all 0.3s;
  }

  .create-hover{
    display: none;
  }

  .button-match > img {
    width: 20px;
    height: 20px;
  }

  .button-match:hover > img{
    display: none;
  }

  .button-match:hover .create-hover{
    display: block;
  }

  .div-accesos-rapidos{
    display: flex;
    justify-content: end;
    width: 8%;
    gap: 1%;
  }

  .div-accesos-rapidos > button {
    border: 0px solid;
    background-color: transparent;
    cursor: pointer;
  }

  .div-accesos-rapidos > button:hover > img {
    display: none;
  }

  .svg-accesos-rapidos{
    display: none;
  }

  .div-accesos-rapidos > button:hover > .svg-accesos-rapidos {
    display: block;
  }
  /*END::HEADER*/