/*SIDEBAR*/
.activador-sidebar-movil{
  display: none;
}
.sidebar{
  margin-left: 2%;
  margin-top: 2%;
  width: 14%;
  height: 96%;
  flex-shrink: 0;
  border-radius: 25px;
  background: var(--Azul---Gris, #25293D);
  box-shadow: 21px 94px 27px 0px rgba(0, 0, 0, 0.00), 13px 60px 25px 0px rgba(0, 0, 0, 0.01), 7px 34px 21px 0px rgba(0, 0, 0, 0.05), 3px 15px 15px 0px rgba(0, 0, 0, 0.09), 1px 4px 8px 0px rgba(0, 0, 0, 0.10);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-side{
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-header-side{
  width: 138px;
  height: 144px;
}

.content-side{
  width: 80%;
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 5%;
}

.content-side > a{
  width: 100%;
  height: 10%;
  color: var(--Color-textos, #F9F9F9);
  /* Etiquetas */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 24px; /* 120% */
  text-decoration: none;

  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5%;
}

.content-side > a:hover {
  border-radius: 5px;
  background: var(--Naranja, #F26A2F );
  transition: all 0.5s;
}

.content-side > a:hover > img {
  display: none;
}

.hover-side {
  display: none;
}

.content-side > a:hover > .hover-side {
  display: block;
}

.content-side > a > img {
  width: 10%;
  height: 90%;
  padding-left: 2%;
}

.unlock-div-side{
  width: 80%;
  height: 25%;
  border-radius: 17px;
  background: linear-gradient(137deg, #3C80FF 0%, #4CFFC3 145.93%);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 4%;
}

.unlock-div-side > img {
  width: 40%;
  margin-top: -8%;
}

.unlock-div-side > p {
  margin: 0%;
  margin-top: 5%;
  margin-bottom: 3%;
  color: var(--Color-textos, #F9F9F9);
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 20px; /* 125% */
}

.unlock-div-side > button {
  border: 0px solid;
  border-radius: 5px;
  background: var(--Naranja, #F26A2F );
  padding: 3%;
  color: var(--Blanco, #FFF);
  text-align: center;
  /* Texto Bold */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 20px; /* 125% */
  cursor: pointer;
}

.unlock-div-side > button:hover {
  background: var(--Azul-Secundario, #134E9D);
  transition: all 0.5s; 
}

.logout-side{
  width: 80%;
  height: 10%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.logout-side > button {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5%;

  padding: 3%;
  
  width: 100%;
  
  cursor: pointer;
  
  border-radius: 5px;
  border: 0px solid;
  background-color: transparent;
  color: var(--Color-textos, #F9F9F9);
  /* Etiquetas */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 24px; /* 120% */
}

.logout-hover{
  display: none;
}

.logout-side > button:hover{
  background: var(--Naranja, #F26A2F );
  transition: all 0.5s;
}

.logout-side > button:hover > img{
  display: none;
}

.logout-side > button:hover > .logout-hover{
  display: block;
}

/*END::SIDEBAR*/