@import "tailwindcss";

/*GLOABL*/
::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width:10px;
}

::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
  display: none;
} 

::-webkit-scrollbar:horizontal {
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 0px solid #f1f2f3;
}

::-webkit-scrollbar-track {
  border-radius: 10px;  
}

.select-negro {
  background-image: url('/svg/select.svg') !important; /*aquí deberás escribir la ruta de la imagen que utilizarás como flecha del desplegable*/
  background-repeat: no-repeat !important;
  background-position: calc(100% - 10px) center !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  -o-appearance: none !important;
  appearance: none !important;
 }

 .select-blanco {
  background-image: url('/svg/select-blanco.svg') !important; /*aquí deberás escribir la ruta de la imagen que utilizarás como flecha del desplegable*/
  background-repeat: no-repeat !important;
  background-position: calc(100% - 10px) center !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  -o-appearance: none !important;
  appearance: none !important;
 }



.ant-popover-title{
  font-family: Montserrat;
  font-weight: 800;
  font-size: 16px;
}
.div-notifications{
  font-family: Montserrat;
  font-weight: 600;
  overflow-y: auto;
  height: 350px;
}

.ant-popover-inner-content a {
  font-family: Montserrat;
}

.notificaciones {
  position: relative;
}
.notificaciones-flotantes{
  position: absolute;
  right: -10px;
  top: -6px;
  background-color: #00ffff;
  border-radius: 100px;
  padding: 6px;
  font-family: Montserrat;
  font-weight: 800;
  font-size: 10px;
  margin: 0%;
  width: 28px;
}

:root {
  font-family: Montserrat;
  font-style: normal;
  background-color: #1F2336 !important;
}

body {
  margin: 0px !important;
  max-width: 100%;
  background-color: #1F2336 !important;
}

h3 {
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 40px; 
}

.azul {
  color: var(--Azul-Secundario, #134E9D);
}
/*END::GLOABL*/


  .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.ball {
  --size: 16px;
  width: var(--size);
  height: var(--size);
  border-radius: 11px;
  margin: 0 10px;

  animation: 2s bounce ease infinite;
}

.blue {
  background-color: #ff914c;
}

.red {
  background-color: #3cebff;
  animation-delay: 0.25s;
}

.yellow {
  background-color: #ff914c;
  animation-delay: 0.5s;
}

.green {
  background-color: #3cebff;
  animation-delay: 0.75s;
}

@keyframes bounce {
  50% {
    transform: translateY(25px);
  }
}


.carrusel{
  height: 85%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4%;
}

.carrusel > div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
