/*LOGIN*/
.fondo-login{
  background-image: url('./images/Fondos/Fondo-Login.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div-form-login{
  background-color: #fff;
  border-radius: 20px;
  width: 479px;
  height: 633px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.header-form-login{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2%;
  width: 100%;
  height: 40%;
}

.logo-login{
  width: 35%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-img-login{
  width: 80%;
}

.h3-class-login {
  color: var(--Azul-Secundario, #134E9D);
  text-align: right;
  text-wrap: wrap;
  margin: 0px;
}

.div-header-text{
  width: 50%;
  padding-right: 5%;
}

.descripcion-login {
  color: var(--Azul---Gris, #25293D);
  text-align: right;
  /* Texto */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
  margin: 0px;
}

.div-contenido-login{
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.form-login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 80%;
}


.copyraight {
  margin-top: 1%;
  color: var(--Blanco, #FFF);
  text-align: center;
  /* Texto */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
}

/*END::LOGIN*/