
/*REGISTRO*/
.fondo-registro{
  background-image: url('./images/Fondos/Fondo-Registro.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div-form-registro{
  background-color: #fff;
  border-radius: 20px;
  width: 667px;
  height: 80%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.header-form-registro{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2%;
  width: 100%;
  height: 35%;
}

.logo-registro{
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-img-registro{
  width: 60%;
}

.h3-class-registro {
  color: var(--Azul-Secundario, #F26A2F );
  text-align: right;
  text-wrap: wrap;
  margin: 0px;
}

.div-header-text-registro{
  width: 55%;
  padding-right: 5%;
}

.descripcion-registro {
  color: var(--Azul---Gris, #25293D);
  text-align: right;
  /* Texto */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
  margin: 0px;
  margin-top: 2%;
}

.div-contenido-registro{
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.form-registro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 80%;
}

.input-registro {
  border-radius: 10px;
  border: 1px solid var(--Gris-3, #686868);
  width: 98%;
  height: 12%;
  outline: none;
  color: var(--Gris-3, #686868);
  /* Texto */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  padding-left: 10px;
  margin-bottom: 10px;
}

.div-name-tel{
  width: 98%;
  height: 12%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 4%;
}


.input-tel-registro {
  border-radius: 10px;
  border: 1px solid var(--Gris-3, #686868);
  width: 48%;
  height: 100%;
  outline: none;
  color: var(--Gris-3, #686868);
  /* Texto */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  padding-left: 10px;
  margin-bottom: 10px;
}

.div-input-registro{
  border-radius: 10px;
  border: 1px solid var(--Gris-3, #686868);
  width: 98%;
  height: 12%;
  padding-left: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.input2-registro {
  border-radius: 10px;
  border: 0px solid var(--Gris-3, #686868);
  width: 80%;
  height: 80%;
  outline: none;
  color: var(--Gris-3, #686868);
  /* Texto */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}


.copyraight {
  color: var(--Blanco, #FFF);
  text-align: center;
  /* Texto */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
}

.label-check-registro{
  color: var(--Gris-3, #686868);
  /* Texto Mínimo */
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 13px; /* 100% */
  display: flex;
  align-items: center;

  width: 100%;
  margin-top: 2%;
  gap: 2%;
}

.check-registro{
  border-radius: 3px;
  border: 1px solid var(--Gris-1, #D9D9D9);
}

.link-register-registro {
  color: var(--Gris-3, #686868);
  /* Texto Mínimo */
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 13px; /* 100% */
  text-decoration: none;
}

.link-register-login:hover {
  color: var(--Gris-3, #134E9D);
}

.div-link-reset-register{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1%;
  margin-bottom: 3%;
  padding-left: 1%;
}

.div-link-reset-register > div {
  width: 100%;
}

.div-link-reset-register > div > p{
  margin: 0%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1%;
  padding-left: 1%;
}

.p-register{
  margin: 0%;
  color: var(--Naranja, #F26A2F );
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.p-register.valid {
  color: #134E9D; /* verde para condiciones válidas */
}

.p-register.invalid {
  color: #F26A2F ; /* rojo para condiciones inválidas */
}

.button-ingresar-registro{
  border-radius: 10px;
  outline: none;
  border: 0px;
  background: var(--Azul-Secundario, #134E9D);
  color: var(--Blanco, #FFF);
  text-align: center;
  /* Texto */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
  width: 100%;
  height: 10%;
  cursor: pointer;
}

.button-ingresar-registro:hover{
  background: var(--Naranja, #F26A2F );
}

.div-register-link-registro{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2%;
  width: 100%;
}

.label-register-link-registro{
  color: var(--Gris-3, #686868);
  text-align: center;
  /* Texto Mínimo */
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 13px; /* 100% */
}

.register-link-registro {
  color: var(--Azul-Secundario, #134E9D);
  text-align: center;
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 64px; /* 492.308% */
  text-decoration: none;
}

.register-link-registro:hover {
  color: var(--Naranja, #F26A2F );
}
/*END::REGISTRO*/